<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/icons/pigeon.svg" width="24px" height="24px">
      Sodexo News
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Noticias recientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorite-news" routerLinkActive="active">Mis Favoritos</a>
        </li>
    </ul>
  </div>
</nav>

